.footer {
    display: flex;
    flex-direction: row;
    grid-area: ft;
}

#button-right {
    background-color: rgb(0, 0, 0, 0.7);
    height: 50px;
    width: 120px;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    outline:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#button-left {
    background-color: rgb(0, 0, 0, 0.7);
    height: 50px;
    width: 120px;
    margin-left: 55px;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    outline:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cop-rgt {
    margin-left: auto;
    margin-bottom: 10px;
    font-size: 20px;
}