.header {
    display: flex;
    align-items: center;
    grid-area: hd;
    padding: 40px;
}

#image {
    display: flex;
    justify-content: flex-start;
    height: 195px;
    width: 195px;
    background-image: url(../images/bujin-header-shidoshi.png);
    background-size: cover;
    margin-left: 20px;
}

#header-text {
    font-size: 6em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: black;
    margin-left: 110px;
}