@import "content.css";
@import "footer.css";
@import "header.css";
@import "sidebar.css";

body {
    background-image: url(../images/hombu-dojo4.jpg);
    background-size: cover;
}

.container {
    display: grid;
    width: auto;
    height: auto;
    margin: auto;
    grid-template-columns: 300px repeat(4, 1fr) 280px;
    grid-template-rows: 250px 600px 1fr;
    grid-template-areas: 
    "hd hd hd hd hd img"
    "side conten conten conten conten img"
    "ft ft ft ft ft img";
}

a {
    text-decoration: none;
}
